aiohttp
aiofiles
requests
pycryptodome
objprint
sqlalchemy
mysqlclient
psycopg2
six
numpy
redis
faker
fastapi
pydantic
mmh3
hiredis
chardet
openpyxl
pillow
lxml
orjson
paramiko
uvicorn
pandas
matplotlib
python-dateutil
antlr4-python3-runtime
antlr4-tools
duckdb
