aiohttp==3.11.10
aiofiles==24.1.0
requests==2.32.3
pycryptodome==3.21.0
objprint==0.3.0
sqlalchemy==2.0.*
mysqlclient==2.2.6
psycopg2==2.9.*
six==1.17.*
numpy==1.24.*
redis==5.2.*
faker==33.1.*
fastapi==0.115.*
pydantic==2.10.*
nltk==3.9.1
mmh3==5.0.*
hiredis==3.1.*
chardet==5.2.0
openpyxl==3.1.5
pillow==11.0.*
lxml==5.3.*
orjson==3.10.*
paramiko==2.12.0
uvicorn==0.32.*
pandas==2.2.3
matplotlib==3.10.*
